/* WorkoutEntryPage.module.css */

.container {
    background-color: var(--darkest-color);
    color: var(--light-color);
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: linear-gradient( 45deg, var(--dark-color), var(--dark-color-brighter));
    border-style: solid;
    border-width: 1px;
    border-color: var(--accent-color);
    box-shadow: var(--glow-color) 0px 0px 12px;
    border-radius: 5px;
}

.header {
    margin-bottom: 10px;
}

.label {
    display: block;
    margin: 10px 0;
}

.select,
.input {
    display: block;
    margin: 10px 0;
    padding: 5px;
    width: 100%;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    border-color: var(--accent-color);
    box-shadow: var(--glow-color) 0px 0px 6px;
    border-radius: 5px;
}

.radioGroup {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.buttons-container {
    display: flex;
    gap: 10px;
}
.button {
    background-color: #d4c3d6;
    color: #333;
    margin: 10px 0;
    padding: 5px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: var(--accent-color);
    box-shadow: var(--glow-color) 0px 0px 6px;
    border-radius: 5px;
    cursor: pointer;
}

.button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.setList {
    margin: 10px 0;
    list-style: none;
    padding: 0;
}

.setItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.removeButton {
    background-color: #ff6961;
    color: #fff;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 0.6rem;
}