@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    font-family: Inter, sans-serif;
    --dark-color: #141428;
    --darkest-color: #0c0c18;
    --dark-color-brighter: #1b1b38;
    --light-color: #e0e0e0;
    --light-color-darker: #b3b3b3;
    /*--accent-color: #3b0b78;*/
    --accent-color: #9d14ff;
    --glow-color: #6a0dad;
    --low-contrast: #e0e0e0;
}